body{
	background-color: #2e3842;;
}

.conversation{
	background-color: #7f7f7f;
	color: #fff;
	margin-bottom: 1vh;
}

.convoCard{
  max-width: 50vw;
  margin-bottom: 1vh;
  border-style: outset;
}

.convo-content{
	padding-bottom: 0px;
}

.convoStarter{
	border-bottom: 1px solid black;
}

.convoStarterImage{
	max-height: 80%;
	width: 100%;
	max-width: 100%;
}

.convoFooter, .roomFooter{
  float: right;
}

.startConvo{
	max-width: 50vw;
	margin-bottom: 1vh;
	border-style: outset;
	background-color: #fff;
}

.headerLink{
	color: #fff;
}

.headerLink:hover{
	color: #fff;
}

.roomBox{
	background-color: #5f5f5f;
}


.relatedPosts{
	border-bottom: 1px solid black;
}

.roomCard{
	display: block;
	width: 50vw;
	margin-bottom: 1vh;
	border-style: outset;
}

.create-convo-error-div{
	margin-bottom: 2vh;
	color: red;
}

.create-convo-text-field{
	margin-bottom: 2vh;
}

